### we can not always write things repeatedly so we use loops
### when we dont want to write complete program again and again we make a function and put our code inside that function
### no need to rewrite

In [1]:
# example

x = 10
y = 20
print("sum",x+y)
print("sub",x-y)
print("mul",x*y)
print("div",x/y)

sum 30
sub -10
mul 200
div 0.5

In [2]:
x = 20
y = 30
print("sum",x+y)
print("sub",x-y)
print("mul",x*y)
print("div",x/y)

sum 50
sub -10
mul 600
div 0.6666666666666666

In [3]:
x = 0.6
y = 22
print("sum",x+y)
print("sub",x-y)
print("mul",x*y)
print("div",x/y)

sum 22.6
sub -21.4
mul 13.2
div 0.02727272727272727

In above eample whne i want ot see results i am repeating

In [4]:
# we are changing x and y so we can use it as input of function

In [5]:
def shriejan(x,y):
    print("sum",x+y)
    print("sub",x-y)
    print("mul",x*y)
    print("div",x/y)

In [6]:
shriejan(10,20)

sum 30
sub -10
mul 200
div 0.5

In [7]:
shriejan(0.6,22)

sum 22.6
sub -21.4
mul 13.2
div 0.02727272727272727

In [8]:
# make a function that takes input x and then multiply it with 10

In [9]:
def smile(x):
    print(x*10)

In [10]:
## function takes input and return output how can we get ouput back from function we will see next time

In [1]:
# lets have a quick look how can we pass values to functions
# positional parameter
# keyword parameter

In [ ]:
def fun(name1,name2,name3):
    ''''This function is printing names'''
    print(f'name 1 is {name1}')
    print(f'name 2 is {name2}')
    print(f'name 3 is {name3}')

In [3]:
fun("shriejan","kumar","siva")

name 1 is shriejan
name 2 is kumar
name 3 is siva

In [ ]:
fun (name3="shriejan",name2="kumar",name1="siva") # this will be keyword argument

name 1 is siva
name 2 is kumar
name 3 is shriejan

In [ ]:
def frun(age1, age2, age3):
    average= (age1+age2+age3)/3
    formula = average**2
    return formula, average

In [11]:
o = frun(10,20,30)
print(o)

(400.0, 20.0)

In [12]:
p = frun(984,200,300)
p

(244695.11111111112, 494.6666666666667)

In [13]:
a,f = frun(10,20,30)
print(a,f)

400.0 20.0

In [19]:
def frun(age1, age2, age3):
    average= (age1+age2+age3)/3
    formula = average**2
    yield formula
    yield average

    cube = average**3
    return cube

In [23]:
gg = frun(1,2,3)

In [24]:
list(gg)

[4.0, 2.0]

In [25]:
# sometimes we want to use default values

In [26]:
def fruit(name,color = 'órnage'):
    print(f'name os {name} and color is {color}')

In [27]:
fruit('apple')

name os apple and color is órnage

In [28]:
fruit('banana','green')

name os banana and color is green

In [29]:
# summarize
# 1. we can give positonal and keyword arguments
# 2. we can return and yield values
# 3. we can use default values

In [33]:
def smile(colour1, colour2, colour3):
    print(f'colour 1 is {colour1}, colour 2 is {colour2}, colour 3 is {colour3}')
    yield colour1
    yield colour2  
    yield colour3
    return 'done'

In [37]:
a = smile('red','green','blue')
list(a)

colour 1 is red, colour 2 is green, colour 3 is blue

['red', 'green', 'blue']